<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Examen 2018/1</title>
</head>
<body>
    <h1>Examen introducción al desarrollo web</h1>
    <h4>Enunciado</h4>
    <p>Debes realizar un sistema de registro en varios pasos:</p>

    <ul>
        <li>La información de registro debe guardarse en sesión.</li>
        <li>El registro se realizará en dos fases.</li>
        <li>Fase uno: datos personales. Nombre, apellidos y email</li>
        <li>Los datos se guardan en sesión y se muestran. El usuario puede elegir seguir adelante o volver atrás para modificarlos.</li>
        <li>Fase 2. En esta fase el usuario debe elegir mediante el uso de varios checkboxes entre ĺa lista de módulos del ciclo.</li>
        <li>Los datos se muestran por pantalla y deben poder modificarse volviendo atrás.</li>
        <li>Al acabar debemos poder reiniciar el registro perdiendo los datos actuales y volviendo a la pantalla inicial.</li>
        <li>Corrección</li>
        <ul>
            <li>
                Guardar datos personales  1
            </li>
            <li>
                Modificar datos personales 1
            </li>
            <li>
                Guardar datos de modulos 1
            </li>
            <li>
                Modificar datos de módulos 1
            </li>
            <li>
                Reiniciar proceso 1
            </li>
        </ul>
    </ul>

    <h4>Notas PHP:</h4>
    <ul>
        <li>Usar POO</li>
        <li>Debes usar una sola clase.</li>
        <li>Separar lógica de vista. Ningún "echo" en la clase.</li>
    </ul>

    <div>
        Usar este array de módulos.
        <pre>
        $modules = [
            "Desarrollo Web en Entorno Servidor",
            "Desarrollo Web en Entorno Cliente",
            "Despliegue de Aplicaciones Web",
            "Desarrollo de Interfaces",
            "Empresa e Iniciativa Emprendedora",
            "Ingles"
        ];
        </pre>

        Para comprobar si un elemento está en un array, función in_array();
    </div>

    <h4>Notas Java:</h4>
    <ul>
        <li>Usar uno o más servlets</li>
        <li>Las vistas se construyen con ficheros jsp "ocultos".</li>
    </ul>
    <div>
        Para construir un ArrayList con todos los módulos:
        <pre>
        String[] array = {"Desarrollo Web en Entorno Servidor",
          "Desarrollo Web en Entorno Cliente",
          "Despliegue de Aplicaciones Web",
          "Desarrollo de Interfaces",
          "Empresa e Iniciativa Emprendedora",
          "Ingles"
        };
        modules = new ArrayList<String> (Arrays.asList(array));
        </pre>
        <p>
        Para comprobar si un elemento está ArrayList, método contains();
        </p>
        <p>
            Para importar la clase ArrayList en jsp:
            <pre>
        <%@page import="java.util.ArrayList"%>
            </pre>

        </p>
    </div>



    <h4><a href="/registro">Enlace al examen</a></h4>

</body>
</html>
